<div id="parent">
    <div id="background">
        <span id="tool">
            <app-toolbar-tools [tool]="0"></app-toolbar-tools>
            <app-toolbar-tools [tool]="1"></app-toolbar-tools>
            <app-toolbar-tools [tool]="2"></app-toolbar-tools>
        </span>
        <span id="color">
            <app-toolbar-colors color="red"></app-toolbar-colors>
            <app-toolbar-colors color="blue"></app-toolbar-colors>
            <app-toolbar-colors color="lightBlue"></app-toolbar-colors>
            <app-toolbar-colors color="yellow"></app-toolbar-colors>
            <app-toolbar-colors color="green"></app-toolbar-colors>
            <app-toolbar-colors color="lime"></app-toolbar-colors>
            <app-toolbar-colors color="purple"></app-toolbar-colors>
            <app-toolbar-colors color="white"></app-toolbar-colors>
            <app-toolbar-colors color="black"></app-toolbar-colors>
            <app-toolbar-colors color=""></app-toolbar-colors>
        </span>
    </div>
    <div id="sliderContainer">
        <div class="penSlider">
            <i class="fa-solid fa-pen"></i>
            <input id="pencilSlider" type="range" value="15" min="1" max="30" step="3"
                (change)="penWidthChanged($event)">
        </div>
        <div class="eraserSlider">
            <i class="fa-solid fa-eraser"></i>
            <input id="eraserSlider" type="range" value="15" min="5" max="30" step="3"
                (change)="eraserWidthChanged($event)">
        </div>
    </div>
</div>