i{
    color: white;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

#parent{
    background-color: rgba(127, 255, 212,0.3);
    border-color: aquamarine;
    display: flex;
    flex-direction : column;
    width: 55vw;
    border-radius: 10px;
    align-items: center;
    box-shadow:
    0 0 10px rgb(0, 255, 229),
    -10px 0 50px rgb(0, 152, 217),
    10px 0 50px rgb(0, 255, 255);
}

#background, #sliderContainer{
    display: flex;
    flex-direction : row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}
/* #background > *{
    align-items: center;
    
} */


#tool{
    padding-left: 50px;
    flex-grow: 1 
}
#color{
    flex-grow: 1 
}
app-toolbar-colors{
    margin-left: auto;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
   /*  box-shadow:
   0 0 5px rgb(0, 255, 229),
   -5px 0 25px rgb(0, 152, 217),
   5px 0 25px rgb(0, 255, 255); */

}
app-toolbar-tools{
    margin-left: 0;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}