input{
    background: 0;
    height: 32px;
    width: 32px;
   border-radius: 50%;
   box-shadow:
   0 0 5px rgb(0, 255, 229),
   -5px 0 25px rgb(0, 152, 217),
   5px 0 25px rgb(0, 255, 255);
}
input:hover{
    cursor: pointer;
}
input:focus{
    transform: scale(0.8);
}

 #colorPicker{
    position: relative;
    outline: 1px solid black;
}
 #colorPicker::after{
    position: absolute;
    content: '';
    background-image: url(color-circle.png);
    background-size: contain;
    height: 32px;
    width: 32px;
    top:-1px; bottom:0px; 
    left:-1px; right:0px;
    pointer-events: none;
}  