<div id="parent">
    <div id="background">
        <app-control-video-tool (click)="emitPause()" [tool]="1"></app-control-video-tool>
        <app-control-video-tool (click)="emitRestart()" [tool]="2"></app-control-video-tool>
        <app-control-video-tool (click)="emitPlay()" [tool]="0"></app-control-video-tool>
        <app-control-video-tool (click)="emitForwardTwo()" [tool]="3"></app-control-video-tool>
        <app-control-video-tool (click)="emitForwardFour()" [tool]="4"></app-control-video-tool>
    </div>
</div>